* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/736x/dd/d8/de/ddd8deb5014f8e8c19bfe4e62cc9508d.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 20px;
}

.title {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
}

@media (min-width: 600px) {
  .title {
    width: 300px;
  }
}

@media (min-width: 1020px) {
  .title {
    width: 350px;
    padding: 20px 40px;
  }
}

h5 {
  font-size: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 2px 2px 4px white;
  border-radius: 3rem;
  padding: 10px;
}

@media (min-width: 600px) {
  h5 {
    font-size: 20px;
  }
}

@media (min-width: 1020px) {
  h5 {
    font-size: 22px;
  }
}

.search-container {
  display: flex;
  gap: 5px;
}

@media (min-width: 600px) {
  .search-container {
    gap: 15px;
  }
}

@media (min-width: 1020px) {
  .search-container {
    gap: 20px;
  }
}

.search-container input {
  padding: 5px 12px;
  border-radius: 5px;
  border-color: white;
  font-size: 14px;
}

@media (min-width: 600px) {
  .search-container input {
    width: 300px;
    padding: 8px 15px;
    font-size: 16px;
  }
}

@media (min-width: 1020px) {
  .search-container input {
    width: 500px;
    padding: 12px 15px;
    font-size: 18px;
  }
}

.search-container button {
  cursor: pointer;
  background: rgb(227, 210, 10);
  background: radial-gradient(
    circle,
    rgba(227, 210, 10, 1) 0%,
    rgba(227, 137, 10, 1) 13%,
    rgba(227, 100, 10, 1) 69%,
    rgba(227, 42, 10, 1) 96%
  );
  border-color: #e32a0a;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
}

@media (min-width: 600px) {
  .search-container button {
    width: 120px;
    padding: 5px 12px;
    font-size: 16px;
  }
}

@media (min-width: 1020px) {
  .search-container button {
    width: 160px;
    font-size: 18px;
  }
}

#root {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 600px) {
  #root {
    margin-top: 40px;
    gap: 30px;
  }
}

@media (min-width: 1020px) {
  #root {
    margin-top: 60px;
    gap: 60px;
  }
}

@media (min-width: 850px) {
  #root {
    margin-top: 60px;
    gap: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  height: 400px;
  font-size: 14px;
}

@media (min-width: 600px) {
  .card {
    width: 260px;
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  .card {
    padding: 20px;
    width: 300px;
    height: 450px;
  }
}

@media (min-width: 850px) {
  .card {
    width: 350px;
    font-size: 16px;
  }
}

@media (min-width: 1020px) {
  .card {
    padding: 20px 30px;
    width: 400px;
    height: 600px;
    font-size: 20px;
  }
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 600px) {
  .card h2 {
    font-size: 20px;
  }
}

@media (min-width: 1020px) {
  .card h2 {
    font-size: 26px;
  }
}

.card img {
  border-radius: 5px;
  margin-bottom: 8px;
}
